name: deploy
on:
  push:
    branches:
      - deploy-**

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1

    - name: create a deployment
      uses: npm/action-deploy@v2
      id: create-deployment
      with:
        type: create
        token: ${{github.token}}
        logs: https://github.com/npm/action-deploy/actions?query=workflow%3Adeploy
        environment_url: https://npmjs.com
        job_status: ${{job.status}}
        slack_token: ${{secrets.SLACK_NPM_ROBOT}}
        slack_channel: npm-ops

    # add here an actual deployment
    - name: placeholder for actual deployment
      run: sleep 10s

